<footer>
    <div class="desktop">
        <div class="footer-feature">
            <div class="d-flex flex-column justify-content-start align-item-start" style="gap: 16px">
                <h4>DECOTECH</h4>
                <p>Store's Slogan</p>
                <div class="d-flex flex-row justify-content-center align-item-center" style="gap: 16px">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-youtube"></i>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-start align-item-start" style="gap: 16px">
                <h4>MENU</h4>
                <div class="d-flex flex-column justify-content-center align-item-center" style="gap: 16px">
                    <p>Home</p>
                    <p>Shop</p>
                    <p>Blog</p>
                    <p>Gallery</p>
                    <p>Contact</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-start align-item-start" style="gap: 16px">
                <h4>CUSTOMER SERVICES</h4>
                <div class="d-flex flex-column justify-content-center align-item-center" style="gap: 16px">
                    <p>Shipping</p>
                    <p>FAQs</p>
                    <p>Privacy Policy</p>
                    <p>Help</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-start align-item-start" style="gap: 16px">
                <h4>NEWSLETTER</h4>
                <p>Stay updated to latest news & updates</p>
                <form class="form-subscription">
                    <input class="form-subscription__email" type="email">
                    <input class="form-subscription__submit" type="submit" value="Subscribe">
                </form>
            </div>
        </div>
        
        <div class="copy-writter">
           <p>© 2024 Company, Inc</p>
        </div>
    </div>
</footer>
