<header class="header">
    <div class="desktop">
        <div class="menu-left col">
            <h4>HOME</h4>
            <h4>SHOP</h4>
            <h4>BLOG</h4>
            <h4>PATERN</h4>
            <h4>CONTACT</h4>
        </div>
        <div class="logo col">
            <p style="font-weight: 600; font-size: 24px;">DECOTECH</p>
        </div>
        <div class="menu-right col">
            <i class="bi bi-search" style="font-size: 20px;"></i>
            <i class="bi bi-person-fill" style="font-size: 24px;"></i>
            <i class="bi bi-cart" style="font-size: 20px;"></i>
        </div>
    </div>
</header>