<header class="header">
    <div class="desktop">
        <ul class="menu-left">
            <li class="menu-left-item">
                <a class="menu-left-item__content" [class.active]="pageSelector === '/'" routerLink="/">
                    <span>HOME</span>
                </a>
            </li>
            <li class="menu-left-item">
                <a class="menu-left-item__content" [class.active]="pageSelector === '/shop'" routerLink="/shop">
                    <span>SHOP</span>
                </a>
            </li>
            <li class="menu-left-item">
                <a class="menu-left-item__content" [class.active]="pageSelector === '/blog'" routerLink="/blog">
                    <span>BLOG</span>
                </a>
            </li>
            <li class="menu-left-item">
                <a class="menu-left-item__content" [class.active]="pageSelector === '/gallery'" routerLink="/gallery">
                    <span>GALLERY</span>
                </a>
            </li>
            <li class="menu-left-item">
                <a class="menu-left-item__content" [class.active]="pageSelector === '/contact'" routerLink="/contact">
                    <span>CONTACT</span>
                </a>
            </li>
        </ul>
        <div class="logo col">
            <p style="font-weight: 600; font-size: 24px;">DECOTECH</p>
        </div>
        <div class="menu-right col">
            <i class="bi bi-search" style="font-size: 20px;"></i>
            <i class="bi bi-person-fill" style="font-size: 24px;"></i>
            <i class="bi bi-cart" style="font-size: 20px;"></i>
        </div>
    </div>
</header>